body
{
  text-align: left;
  color: #353736;
  display: block;
  width: 60%;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
}

h1
{
  border-radius: 10px 10px;
  padding: 12px;
  background-color: grey;
  color: white;
}

img
{
  display: block;
  padding: auto;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

button.button
{
	position: fixed;
	top: 5%;
	right: 2%;
}
